.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
}
.container .footer {
  margin: 0 auto;
}
.telephone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: $bg-color;
}
.icon-telephone {
  fill: $accent;
}

.icon-instagram {
  display: block;
  margin: 0 auto;
}
