.guarantees {
  padding: 50px 0;
  &-title {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;

    margin-bottom: 30px;
  }
  &-wrapper {
    padding: 30px 20px;
    background-color: $secondary-bg-color;
  }
}
.guarantees-item {
  color: $text-dark-color;
}
.guarantees-item:not(:last-child) {
  margin-bottom: 23px;
}
.guarantees-list {
  list-style-image: url(../../images/campfire-2.svg);
}
