.container-pluses {
  .subtitle {
    margin-top: 5px;
  }
  .title {
    display: block;
    padding-bottom: 30px;
    color: $white;
  }
}
.container-pluses .pluses-list {
  counter-reset: number;
  background-color: $white;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  .pluses-item::before {
    counter-increment: number;
    content: '\2014  0'counter(number);
    color: $accent;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.649;
  }
}
@media screen and (max-width: 727px) {
  .container-pluses .title {
    width: 50%;
  }
  .container-pluses .pluses-list {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 15px;
  }
  .pluses-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.container-pluses .number {
  font-weight: 700;
  margin-bottom: 10px;
}
@media screen and (min-width: 728px) and (max-width: 1353px) {
  .pluses {
    padding-top: 50px;
  }
  .container-pluses .title {
    text-align: center;
    font-size: 26px;
    line-height: 1.3;
  }
  .container-pluses .pluses-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 98px;
    padding-top: 30px;
    padding-right: 98px;
    padding-bottom: 25px;
  }
  .pluses-item {
    width: calc((100% - 20px) / 2);
    .number {
      font-size: 14px;
      line-height: 1.649;
    }
    .subtitle {
      font-size: 14px;
      line-height: 1.4;
    }
  }
  .pluses-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .pluses-item:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1354px) {
  .container-pluses .title {
    display: none;
  }
  .pluses-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-left: 84px;
    padding-bottom: 70px;
    padding-right: 82px;
  }

  .pluses-item {
    width: calc((100% - 80px) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 40px;
    }
    &:nth-child(2) {
      margin-bottom: 32px;
    }
    .number {
      font-size: 20px;
      line-height: 1.649;
    }
    .subtitle {
      font-size: 20px;
      line-height: 1.4;
      margin-top: 10px;
    }
  }
  .container-pluses .pluses-list .pluses-item::before {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.649;
  }
}
