// .container-program {
//   // margin-bottom: 50px;
// }
.program {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-color;
    width: 100%;
    height: 88%;
    z-index: -1;
  }
  padding-top: 50px;
  padding-bottom: 39px;
  &-subtitle {
    color: $white;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
  }
  &-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: $white;
    margin-bottom: 50px;
  }
}
.program-accent {
  display: block;
  color: $accent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  margin-bottom: 5px;
}

.program-descriprion-list > .program-descriprion-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (max-width: 727px) {
  .container-program {
    padding-bottom: 50px;
  }
  .program {
    position: relative;
    &::after {
      content: '';
      background-size: 120px 137px;
      background-image: url(./../images/about-us/lesson-mobile.png);
      background-repeat: no-repeat;
      background-position-y: 76%;
      background-position-x: 100%;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(./../images/about-us/lesson-mobile@2x.png);
      }
    }
    .program-list::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      width: 1px;
      height: 92%;
      background-color: $white;
    }
    &-list {
      position: relative;
      padding-left: 26px;
      margin-left: 74px;
    }

    .program-feature {
      position: relative;
      .program-subtitle {
        text-transform: uppercase;
      }
      &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $accent;
        top: 7px;
        left: -32px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}
@media screen and (min-width: 728px) and (max-width: 1353px) {
  .container-program {
    padding-bottom: 142px;
  }
  .program {
    padding-top: 60px;
    padding-bottom: 50px;
    &::after {
      content: '';
      background-size: 383px 280px;
      background-image: url(./../images/about-us/lesson-tablet.png);
      background-repeat: no-repeat;
      background-position-y: 70%;
      background-position-x: 100%;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(./../images/about-us/lesson-tablet@2x.png);
      }
    }

    &-title {
      text-align: start;
      font-size: 26px;
      line-height: 1.3;
      letter-spacing: 0.03em;
    }
    &-list {
      position: relative;
      padding-left: 56px;
      margin-left: 57px;
    }
    .program-list::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0px;
      width: 1px;
      height: 87%;
      background-color: $white;
    }
    .program-feature {
      position: relative;
      .program-subtitle {
        text-transform: uppercase;
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $accent;
        top: 7px;
        left: -62px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }
  .program-descriprion-list {
    display: flex;
  }
  .program-descriprion-item {
    width: calc((100% - 100px) / 3);
    letter-spacing: 0;
  }

  .program-descriprion-list > .program-descriprion-item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
  .program-descriprion-list .program-accent {
    margin-bottom: 10px;
  }
  .program-descriprion-list .program-accent p:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1353px) {
  .container-program {
    padding-bottom: 163px;
  }

  .program {
    position: relative;
    padding-top: 120px;
    padding-bottom: 60px;
    &::after {
      content: '';
      background-size: 540px auto;
      background-image: url(./../images/about-us/lesson-desctop.png);
      background-repeat: no-repeat;
      background-position-y: 75%;
      background-position-x: 0%;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(./../images/about-us/lesoon-desktop@2x.png);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 230px;
      height: 1px;
      width: 100%;
      background-color: $white;
    }
    &-title {
      text-align: start;
      font-size: 46px;
      margin-bottom: 100px;
    }
  }

  .program-list {
    display: flex;
  }
  .program-feature {
    position: relative;
    width: calc((100% - 30px * 4) / 5);
    &:not(:last-child) {
      margin-right: 30px;
    }
    .program-subtitle {
      font-weight: bold;
      font-size: 30px;
      line-height: 0.93;
      letter-spacing: 0.08em;
      margin-bottom: 25px;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      background-color: $accent;
      top: -56px;
      left: 0px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    .program-descriprion-item:not(:last-child) {
      margin-bottom: 25px;
    }
    .program-accent {
      font-size: 20px;
      line-height: 1.649;
      margin-bottom: 10px;
    }
    .program-text {
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0em;
    }
  }
}
